<%- include header %>
<form method="post">
Username:<input type="text" name="name" /><br/>
Password:<input type="passsword" name="password" /><br/>
<input type="submit" value="Login"/>
</form>
<a href="/login/github">Log in by GitHub Passport</a>
<%- include footer %>